<div class="table-responsive" style="max-height: 400px; overflow-y: auto;">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Documento</th>
          <th>Edad</th>
          <th>País</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let actor of actores">
          <td>{{ actor.nombre }}</td>
          <td>{{ actor.apellido }}</td>
          <td>{{ actor.documento }}</td>
          <td>{{ actor.edad }}</td>
          <td>{{ actor.pais }}</td>
          <td>
            <button (click)="seleccionarActor(actor)" class="btn btn-primary">Seleccionar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  