<div *ngIf="peliculas.length > 0">
    <h4 class="text-center mb-4">Películas Protagonizadas</h4>
    <div class="row">
        <div *ngFor="let pelicula of peliculas" class="col-12 mb-4"> <!-- Cambiar a col-12 para que ocupe el 100% del ancho -->
            <div class="pelicula-card d-flex"> <!-- Añadir d-flex para hacer el contenedor flex -->
                <div class="pelicula-detalle"> <!-- Contenedor para el detalle de la película -->
                    <h5 class="mt-2">{{ pelicula.nombre }}</h5>
                    <p><strong>Tipo:</strong> {{ pelicula.tipo }}</p>
                    <p><strong>Fecha de Estreno:</strong> {{ pelicula.fechaEstreno | date:'dd/MM/yyyy' }}</p>
                    <p><strong>Cantidad de Público:</strong> {{ pelicula.cantidadPublico }}</p>
                </div>
                <img [src]="pelicula.foto" alt="{{ pelicula.nombre }}" class="img-fluid" />
            </div>
        </div>
    </div>
</div>

<div *ngIf="peliculas.length === 0">
    <p>No hay películas protagonizadas por este actor.</p>
</div>
